@import '~styles/variables';

.account-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  &__data {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
  }
}
