@import '~styles/variables';
@import '~styles/mixins';

.expense-list-view {
  &__title {
    margin-bottom: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
.expense-list {
  list-style-type: none;
}
