@import '~styles/_variables';

.ui-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  text-decoration: none;
  border: 0;
  border-radius: 50%;
  background: inherit;
  cursor: pointer;
  &__label {
    font-size: 0;
  }
  &:hover {
    background: var(--background-secondary-hover);
  }
  &--normal {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1rem;
  }
  &--small {
    font-size: 0.75rem;
  }
  &--big {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.5rem;
  }
}
