@import '~styles/variables';

.language-selector {
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  appearance: none;
  font-size: 1rem;
  margin-right: 0.5rem;

  &:hover {
    background: var(--background-secondary-hover);
  }
}
