@import '~styles/variables';

.data-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: var(--background-secondary);
  &--header {
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;
    border-radius: 0;
    background-color: inherit;
    span {
      font-weight: bold;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__data {
    display: flex;
    flex-grow: 1;
    gap: 0.5em;
    justify-content: space-between;
    margin-right: 1rem;
  }
  &__date {
    flex-basis: 10%;
    min-width: 5.5rem;
  }
  &__account {
    flex-basis: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  &__category {
    flex-basis: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  &__amount {
    flex-basis: 15%;
  }
  &__note {
    flex-basis: 30%;
    width: 10ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  &__controls {
    width: 4rem;
  }
}
