@import '~styles/variables';
@import '~styles/mixins';

.navigation {
  display: flex;
  gap: 3rem;
  justify-content: center;
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 0;
    color: var(--color-secondary);
    text-decoration: none;
    user-select: none;
    @include for-size(tablet) {
      padding: 0;
      border: 0;
    }
    rect,
    circle {
      stroke: var(--color-secondary);
    }
    &--active {
      color: var(--color-accent);
      pointer-events: none;
      @include for-size(tablet) {
        border: 0;
      }
      rect,
      circle {
        stroke: var(--color-accent);
      }
    }
  }
  &__logo {
    $size: 1.5rem;
    width: $size;
    height: $size;
    margin-bottom: 0.5rem;
    @include for-size(tablet) {
      display: none;
    }
  }
}
