@import '~styles/variables';

.navigation {
  display: flex;
  justify-content: center;
  &__link {
    margin-right: 1rem;
    user-select: none;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      font-weight: bold;
      text-decoration: none;
      pointer-events: none;
    }
  }
}
